<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Lista de Beneficiários</title>
  <link rel="stylesheet" href="./style.css" />
</head>
<body>
   <div class="container">
    <h1>Beneficiários Cadastrados</h1>

    <ul id="lista-beneficiarios">
    </ul>

     <div>
      <button id="botao">Editar</button>
    </div>
    <div>
      <button id="botaoExcluir">Excluir</button>
    </div>
    <div>
      <button id="botaoLink"><a href="index.html">Cadastrar Beneficiário</a></button>
    </div>
  
  </div>

</body>
</html>
